In [1]:
website = "www.codeswithpankaj.com"
print(website)

www.codeswithpankaj.com

In [2]:
# find the size of string ....
len(website)

23

In [3]:
# check the type use type()
type(website)

str

In [7]:
# Compare Two Strings
data1 = "@p4n.in"
data2 = "@p4n.store"

#data1 == data2
#data1 != data2

if data1 == data2:
    print("Data is matched")
else:
    print("Data is not matched")

Data is not matched

In [9]:
# Join Two or More Strings
first_name = "joy"
last_name = " jain"

full_name = first_name + last_name
print(full_name)

joy jain

In [12]:
# iterate through a string using a for loop
data = "p4n.in"
for i in data:
    print(i)

p
4
n
.
i
n

In [15]:
# access char from string 
print(data[1])
print(data[-1])
print(data[2:5])

4
n
n.i

In [41]:
data = "www.p4n.in"
# 1. upper() converts the string to uppercase
print(data.upper())
# 2. lower() converts the string to lowercase
print(data.lower())
# 3. partition() returns a tuple
newdata = data.partition('.')
print(newdata)
# 4. replace() replaces substring inside
print(data.replace('.','-'))
# 5. find() returns the index of first occurrence of substring
print(data.find('4'))
# 6. rstrip() removes trailing characters
txt = "banana     "
x = txt.rstrip()
print(x,"is best...")
# 7. split() splits string from left
print(data.split('.'))
# 8. startswith() checks if string starts with the specified string
print(data.startswith('4'))
# 9. isnumeric() checks numeric characters
print(data.isnumeric())
# 10. index() returns index of substring
print(data.index('p'))

WWW.P4N.IN
www.p4n.in
('www', '.', 'p4n.in')
www-p4n-in
5
banana is best...
['www', 'p4n', 'in']
False
False
4

In [44]:
# escape double quotes
example = "He said, \"What's there?\""
print(example)
# escape single quotes
example = 'He said, "What\'s there?"'

print(example)

# Output: He said, "What's there?"

<class 'SyntaxError'>: unterminated string literal (detected at line 11) (<ipython-input-44-11155db05097>, line 11)

In [49]:
# Python String Formatting (f-Strings)
# use format

name = "pankaj"
age = 30
height = 5.6

print("my name is {} height {} and age {}".format(name,age,height))

print("my name is {0} height  {2} age {1}".format("joy",3,3.5))

my name is pankaj height 30 and age 5.6
my name is joy height  3.5 age 3

In [50]:
# Python String Formatting (f-Strings)
name = 'Cathy'
country = 'UK'

print(f'{name} is from {country}')

Cathy is from UK