In [1]:
# Operators
# Arithmetic Operators

num1 = 125
num2 = 5

print('Addition: adds two operands + ',num1 + num2)
print('Subtraction: subtracts two operands - ',num1 - num2)
print('Multiplication: multiplies two operands * ',num1 * num2)
print('Division (float): divides the first operand by the second / ',num1 / num2)
print('Division (floor): divides the first operand by the second // ',num1 // num2)
print('Modulus: returns the remainder when the first operand is divided by the second % ',num1 % num2)
print('Power (Exponent): Returns first raised to power second ** ',num1 ** num2)

Addition: adds two operands +  130
Subtraction: subtracts two operands -  120
Multiplication: multiplies two operands *  625
Division (float): divides the first operand by the second /  25.0
Division (floor): divides the first operand by the second //  25
Modulus: returns the remainder when the first operand is divided by the second %  0
Power (Exponent): Returns first raised to power second **  30517578125

In [6]:
number1 = 23
print(number1 ** number1)

print(452/3)
print(452//3)

20880467999847912034355032910567
150.66666666666666
150

In [15]:
# Relational Operators

print('Greater than: True if the left operand is greater than the right > ', 67 > 22)
print('Less than: True if the left operand is less than the right < ',67 < 22)
print('Equal to: True if both operands are equal == ',23 == 23)
print('Not equal to – True if operands are not equal != ', 67 != 69)
print('Greater than or equal to: True if left operand is greater than or equal to the right >= ',91 >= 90)
print('Less than or equal to: True if left operand is less than or equal to the right <= ',34 <= 22)

Greater than: True if the left operand is greater than the right >  True
Less than: True if the left operand is less than the right <  False
Equal to: True if both operands are equal ==  True
Not equal to – True if operands are not equal !=  True
Greater than or equal to: True if left operand is greater than or equal to the right >=  True
Less than or equal to: True if left operand is less than or equal to the right <=  False

In [15]:
print(45 < 46)
print(45 <= 44)
print(45 > 46)
print(45 >= 44)
print(23 == 34)
print(34 != 34)

True
False
False
True
False
False

In [20]:
# Logical Operators
# and = Logical AND: True if both the operands are true
print(23 < 34 and 22 < 11)
#       T           F

# or  = Logical OR: True if either of the operands is true
print(23 < 34 or 22 < 11)
#       T           F
# not = Logical NOT: True if operand is false
print( 34 != 34)

False
True
False

In [22]:
# Assignment Operators 

number =  400
print(number)

# number = number + 10

number += 10
print(number)

# number = number * 10
number *= 10
print(number)

# number = number / 10
number /= 10
print(number)

number -= 10
print(number)

number //= 10
print(number)

400
410
4100
410.0
400.0
40.0

In [28]:
# Membership Operators

# in

name = "p4n.in"

print(name in 'p4n.in')
print(name in 'p4n.in@codeswithjpankaj')
print(name in 'p')

# not in 

print(name not in 'p4n.in')
print(name not in 'p4n')

# Example :
msg = "codeswithpankaj.com" 

print('c' in msg)
print('z' in msg)

True
True
False
False
True
True
False

In [29]:
# Identity Operators

n1 = 10
n2 = 20 

# is
print(n1 is n2) # ==

# is not 
print(n1 is not n2)

False
True