In [1]:
# Arithmetic Operators

# Addition: +
print("Addition  ",10+40)
# Subtraction: -
print("Subtraction ",10-40)
# Multiplication: *
print("Multiplication ",10*40)
# Division: /
print("Division ",145/3)
# Modulo (Remainder): %
print("Modulo ",140 % 2)
# Exponentiation: **
print("Exponentiation ",145**3)
# Floor Division: //
print("Floor Division ",145//3)

Addition   50
Subtraction  -30
Multiplication  400
Division  48.333333333333336
Modulo  0
Exponentiation  3048625
Floor Division  48

In [6]:
# Comparison Operators:
#     Equal to: ==
print("Equal to: == ", 40 == 56)
#     Not equal to: !=
print("Not equal to: != ", 34 != 56)
#     Greater than: >
print("Greater than: > ",34 > 56)
#     Less than: <
print("Less than: < ",34 < 56)
#     Greater than or equal to: >=
print("Greater than or equal to: >= ",340 >= 34)
#     Less than or equal to: <=
print("Less than or equal to: <= ",34 <= 56)

Equal to: ==  False
Not equal to: !=  True
Greater than: >  False
Less than: <  True
Greater than or equal to: >=  True
Less than or equal to: <=  True

In [8]:
# Assignment Operators:

#     Assignment: =
number  = 90
print(number)
#     Addition assignment: +=

# number = number + 10
number +=10
print(number)
#     Subtraction assignment: -=
number -=10
print(number)
#     Multiplication assignment: *=
number *=10
print(number)
#     Division assignment: /=
number /=10
print(number)
#     Modulo assignment: %=
number %=10
print(number)
#     Exponentiation assignment: **=
number **=10
print(number)
#     Floor division assignment: //=
number //=10
print(number)

90
100
90
900
90.0
0.0
0.0
0.0

In [12]:
# Logical Operators:

#     Logical AND: and
#     Logical OR: or
#     Logical NOT: not !

#     Logical AND: and
# left side | right side  = result
#    T      |    T        =   T
#    T      |    F        =   F
#    F      |    T        =   F
#    F      |    F        =   F

print( 34 < 89 and 45 > 78 )
#         T           F
print(45 <= 43 and 23 != 67)



#     Logical OR: or
# left side | right side  = result
#    T      |    T        =   T
#    T      |    F        =   T
#    F      |    T        =   T
#    F      |    F        =   F
print( 34 < 89 or 45 > 78 )
#         T           F
print(45 <= 43 and 23 != 67)

print(67 != 67)

# Example :-

print(34 < 45 and 56 > 78 or 67 != 90)
#       t           f           t 
#           f                 
#                   t

False
False
True
False
False
True

In [16]:
# Membership Operators:

#     in: Evaluates if a value is present in a sequence.

msg = 'codeswithpankaj.com'

print('r' in msg)
print('c' in msg)

#     not in: Evaluates if a value is not present in a sequence.

print('r' not in msg)
print('c' not in msg)

# example -1 
data = [45,33,22,11]
print(23 in data)
print(23 not in data)

False
True
True
False
False
True

In [17]:
# Identity Operators:

#     is: Evaluates if two variables refer to the same object.

a = 'p4n.in'
b = 'pn2.in'

print(a is b) # ==

#     is not: Evaluates if two variables do not refer to the same object.

print(a is not b) # !=

False
True