In [4]:
# pandas dataframe

import pandas as pd

data = {
    'name':['joy','nishant','shubham','tiya','kiya'],
    'city':['mumbai','pune','surat','jaipur','bhuj'],
    'salary':[34000,56000,23000,89000,80000]
}

df = pd.DataFrame(data)
print(df)

      name    city  salary
0      joy  mumbai   34000
1  nishant    pune   56000
2  shubham   surat   23000
3     tiya  jaipur   89000
4     kiya    bhuj   80000

In [5]:
# index 

index_c =  [1,2,3,4,5]

df = pd.DataFrame(data, index = index_c)
print(df)

      name    city  salary
1      joy  mumbai   34000
2  nishant    pune   56000
3  shubham   surat   23000
4     tiya  jaipur   89000
5     kiya    bhuj   80000

In [6]:
data = [
    {'Name': 'Alice', 'Age': 25, 'Country': 'USA'},
    {'Name': 'Bob', 'Age': 30, 'Country': 'Canada'},
    {'Name': 'Charlie', 'Age': 22, 'Country': 'UK'}
]
df = pd.DataFrame(data)
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   22      UK

In [9]:
new_df = df[['Name','Age']]
print(new_df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [10]:
# Using .loc to select rows by label
first_row = df.loc[0]
print(first_row)

Name       Alice
Age           25
Country      USA
Name: 0, dtype: object

In [11]:
# Using .iloc to select rows by integer index
second_row = df.iloc[1]
print(second_row)

Name          Bob
Age            30
Country    Canada
Name: 1, dtype: object

In [12]:
# Using .loc to select specific rows and columns by label
specific_row_col = df.loc[1, 'Name']
print(specific_row_col)

Bob

In [13]:
# Using .iloc to select specific rows and columns by integer index
specific_row_col_iloc = df.iloc[0, 1]
print(specific_row_col_iloc)

25

In [14]:
df_with_index = df.set_index('Name')
print(df_with_index)

         Age Country
Name
Alice     25     USA
Bob       30  Canada
Charlie   22      UK

In [19]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Country': ['USA', 'Canada', 'UK']
}
df = pd.DataFrame(data)
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   22      UK

In [28]:
# Adding a New Row
new_row = {'Name': 'David', 'Age': 28, 'Country': 'Australia'}
# Append the new row to the DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

print(df)

      Name  Age    Country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   22         UK
3    David   28  Australia
4    David   28  Australia

In [29]:
# Adding a Column
#df_with_new_column = df_with_new_row.copy()  # Create a copy to avoid modifying the original
df['height'] = [4.5,6.7,5.6,4.5,5.6] 
print("\nDataFrame with New Column:")
print(df)

DataFrame with New Column:
      Name  Age    Country  height
0    Alice   25        USA     4.5
1      Bob   30     Canada     6.7
2  Charlie   22         UK     5.6
3    David   28  Australia     4.5
4    David   28  Australia     5.6