In [13]:
# find the char in word 
data = "cwpc"

for i in data:
    print(i)

c
w
p
c

In [14]:
# range(end) - always start with zero 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# range(start,end) # example - range(21,45) start = 21 and end 44

for i in range(21,44):
    print(i)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

In [17]:
# range(start,end,steps) 
# example range(1,15,2) output = 1,3,5,7,9,11,13 
for i in range(1,15,2):
    print(i)

1
3
5
7
9
11
13

In [7]:
# print table 
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [11]:
# print table using userinput
table = 3
for i in range(1,11):
    print(i*table)

3
6
9
12
15
18
21
24
27
30

In [19]:
# user input start and end 

start =  2
end = 10
for i in range(start,end):
    print(i)

2
3
4
5
6
7
8
9

In [22]:
# end=''
for i in range(1,20):
    print(i,end=" ")

12345678910111213141516171819

In [24]:
# start = 65
# end value = 91

# chr() change to  ASCII value to char
# ord() change to  char to ASCII value 

for i in range(65,91):
    print(chr(i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [27]:
start_char = 'p'
end_char = 'z'

start = ord(start_char)
end = ord(end_char)

for i in range(start,end+1):
    print(chr(i),end=' ')

p q r s t u v w x y z